.project-name-text {
  font-size: 0.9em; /* Adjust to match the status badge font size */
  font-weight: bold;
}

.menu-dropdown-toggle {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.status-badge {
  display: inline-flex;
  align-items: center;
  font-size: 0.9em;
}

.status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
  display: inline-block;
}

.status-badge.connected .status-dot {
  background-color: #28a745; /* Green */
}

.status-badge.disconnected .status-dot {
  background-color: #dc3545; /* Red */
}

.dropdown-menu-dark {
  background-color: #343a40;
  color: #f8f9fa;
}

.dropdown-menu-dark .dropdown-item {
  color: #f8f9fa;
}

.dropdown-menu-dark .dropdown-item:hover {
  background-color: #495057;
}

.app-header {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 10px;
}